html body{
    margin: 0px;
    width: 100%;
    height: 100%;
}

button {
    width: 45%;
    height: 50px;
}

span.color_button {
    width: 2em;
    height: 2em;
    font-size: 3em;
    border: solid 3px black;
}

.controlBox{
    display: inline-block;
}